<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tarea 2 Arquitecturas Micro Servicios.">
    <meta name="author" content="Perla Velasco & Yonathan Mtz">

    <title>Tarea 2</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Historial</h1>
        <a href="/" class="btn btn-dark btn-lg">Perform a query</a>
    </div>
</header>

<!-- Page Content -->
<div class="container">
<h1>Queries</h1>
<p>List of movies and series consulted in the platform an its feeling evaluation</p>
        <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Feeling</th>
                  </tr>
                </thead>
                <tbody>
                        {%for  twitter_element in result['tweets']   %}
                        <tr>
                        <td scope="col">{{ twitter_element['text']}} </td>
                        <td scope="col">{{ twitter_element['date']}} </td>
                        <td scope="col">{{ twitter_element['feeling']}} </td>
                        </tr>
                      {% endfor %}
                </tbody>
              </table>
             
    </div>
   
<!-- Footer -->
<footer>
    <div class="container">
            <div class="row">
                    <form action="/delete">
                        <div class="col-md-4 col-sm-12">
                                <input type="submit" value="Remove historial" class="btn btn-dark btn-lg">
                         </div>
                     </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Software Architecture</strong>
                </h4>
                <p>Microservices Style
                    <br>Equipo AlFeLuMa
                    <br> Alfredo Sánchez Martínez
                    <br> José Fernando González Herrera  
                    <br>Luis Antonio Ibarra González 
                    <br>Mario Alberto Negrete Rodríguez              
                </p>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://github.com/MarioRguezz/Arquitectura-Micro-Servicios"><i
                                class="fa fa-github-alt fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; CIMAT 2018</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function () {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function () {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function () {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
</script>
</body>
</html>
