<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tarea 2 Arquitecturas Micro Servicios.">
    <meta name="author" content="Perla Velasco & Yonathan Mtz">

    <title>Tarea 2</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Netflix Inc.</h1>
        <!-- EXPERIMENTO -->
        <form action="/information">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="service-item">
                        <h4><strong>Movie/Series title:</strong></h3>
                            <input type="text" name="t" text="type title">
                    </div>
                </div>
                <!--<div class="col-md-12 col-sm-12">
                    <div class="service-item">
                        <h4><strong>Twitter username:</strong></h3>
                        <input type="text" name="u" text="type twitter's username">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                    </div>
                </div>-->
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                </div>
                <div class="col-md-4 col-sm-12">
                    <input type="submit" value="Perform query" class="btn btn-dark btn-lg">
                    <!--<h4><p>Welcome to the system, please introduce the title of some series or original movie of Netflix as well as him username (e.g. @usernamexample) in Twitter to perform a analysis of sentiments in the last comments its from him</p></h4>-->
                </div>
                <div class="col-md-4 col-sm-12">
                </div>
            </div>
            <!-- /.row (nested) -->
        </form>
        <!-- /EXPERIMENTO-->
    </div>
</header>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Software Architecture</strong>
                </h4>
                <p>Microservices Style
                    <br>Perla Velasco-Elizondo
                    <br>&amp;
                    <br>Yonathan A. Martínez Padilla</p>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://github.com/arqdesw-curso/Arquitectura-Micro-Servicios"><i
                                class="fa fa-github-alt fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; University Autonomous of Zacatecas 2017</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function () {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function () {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function () {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
</script>

</body>

</html>